*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background: url("./assets/question.jpg");
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    max-width: 100%;
}
